@font-face {
	font-family: 'FranklinGothic';
	src: url('../fonts/framd.eot');
	src: local('☺'), url('../fonts/framd.woff') format('woff'), url('../fonts/framd.ttf') format('truetype'), url('../fonts/framd.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 10px;
}
button{
	background: none;
}
.header {
	width: 100%;
	height: 65px;
	position: fixed;
	background-color: #344051;
	z-index: 3;
}
.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding-left: 10px;
	padding-right: 10px;
}
.header__logo {
	text-transform: capitalize;
	font-size: 28px;
	line-height: 65px;
}
.menu__list {
	display: flex;
	color: #fff;
}
.menu__link {
	margin-left: 37px;
	text-transform: uppercase;
	color: #fff;
	line-height: 65px;
	transition: all .5s;
}
.menu__link:visited{
	color: #fff;
}
.menu__link:hover {
	color: #d17700;
}
.main {
	background: url(../img/Парень.png) 85% 100%/40% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
	height: 100%;
	width: 100%; 
	box-shadow: inset 0px -24px 10px rgba(0, 0, 0, 0.2);
	margin-bottom: 65px;
}
.main__wrapper{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.info {
	max-width: 680px;
	text-align: center;
	margin-top: 120px;
}
.info__name {
	font-family: 'FranklinGothic';
	font-size: 60px;
	color: #2c384a;
	font-weight: 900;
	margin-bottom: 26px;
}
.info__text{
	margin-bottom: 40px;
	text-align: center;
}
.text {
	font-size: 18px;
	color: #3f495a;
	text-align: center;
}
.info__btn {
	margin-right: 26px;
}
.btn {
	padding: 10px 10px 8px 10px;
	color: #6d7682;
	border: 2px solid #6d7682;
	border-radius: 5px;
	width: 108px;
	text-align: center;
	font-size: 16px;
	transition: all .5s;
}
.btn:hover{
	background-color: #3e4651;
	color: #FFF;
}
.about {}
.about__title {
	margin-bottom: 80px;
}
.title {
	font-size: 28px;
	color: #263244;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	font-weight: bold;
}
.title::after{
	content: "";
	width: 70px;
	height: 4px;
	background-color: #d17700;
	position: absolute;
	right: 0;
	left: 0;
	bottom: -30px;
	display: block;
	margin: 0px auto;
}
.about__image {
	display: flex;
	justify-content: center;
	margin-bottom: 27px;
}
.about_img {
	width: 190px;
	height: 190px;
}
.about__text {
	max-width: 730px;
	color: #3f495a;
	font-size: 18px;
	text-align: center;
	margin: 0 auto 45px auto;
}
.btn__row{
	display: flex;
	justify-content: center;
}
.about__btn {
	background: url(../img/иконка.png) 8px 50% no-repeat;
	padding-left: 30px;
	width: 160px;
	margin-bottom: 97px;
}
.ICan {
	width: 100%;
	height: 520px;
	background: url(../img/bgwhatCanIDo.jpg) center/cover no-repeat;
	padding-top: 15px;
}

.ICan__title {
	margin-top: 80px;
	margin-bottom: 110px;
}

.ICan__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 92px;
	flex-wrap: wrap;
}
.ICan__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.ICan__image {
	display: flex;
	justify-content: center;
	flex: 0 1 auto;
	height: 42px;
	margin-bottom: 40px;
}
.ICan__subtitle {
	color: #cf7600;
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
}
.ICan__text {
	max-width: 210px;
}
.case {}
.case__title {
	margin-top: 70px;
	margin-bottom: 70px;
}
.case__subtitle{
	text-align: center;
	margin-bottom: 40px;
}
.case__text {
	text-align: left;
	display: block;
}
.case__image img{
	max-width: 100%;
}
.case__row {
	display: flex;
	justify-content: space-between;
	height: 360px;
	margin-bottom: 70px;
}
.case__main {
	display: flex;
	flex-direction: column;
	width: 200px;
	margin-right: 40px;
	height: 200px;
}
.case__bold {
	display: block;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 12px;
}
.case__btn {
	color: #FFF;
	background-color: #63b5ae;
	padding: 15px 15px;
	font-size: 20px;
	border-radius: 5px;
	text-transform: uppercase;
	margin-top: 22px;
}
.calcCost {}
.calcCost_container {
}
.calcCost__title {
	text-align: center;
	font-size: 28px;
	font-weight: bold;
}
.calcCostRow {
	display: flex;
	flex-direction: column;
}
.calcCost__label {
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 22px;
	margin-top: 40px;
}
.calcCostSelect select{
	width: 100%;
	background-color: #eeeeee;
	height: 55px;
}
.calcCostResults {
	display: flex;
	flex-direction: column;
	margin-top: 65px;
	position: relative;
}
.calcCostResults::before{
	content: "";
	position: absolute;
	right: 0;
	left: 0;
	top: -35px;
	width: 100%;
	height: 2px;
	margin: 0 auto;
	background-color: #eee;
}
.ResultsRow {
	display: flex;
	justify-content: space-between;
}
.ResultsRow + .ResultsRow{
	margin-bottom: 70px;
}
.Results__text {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 15px;
}
.ResultsNum {
	font-size: 18px;
	font-weight: 700;
}

.statistics {
	width: 100%;
	height: 498px;
	background:url(../img/bgRev.jpg) 0px 5px no-repeat, url(../img/statBG.jpg) repeat-y;
	background-attachment: fixed;
	padding-top: 15px;
	margin-bottom: 80px;
}
.statistics__title {
	margin-top: 70px;
	margin-bottom: 120px;
}
.statistics__row {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.statistics__item {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.staticstic__image {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	height: 51px;
}
.statistics__subtitle {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
}
.statistics__text {
	text-transform: uppercase;
	font-weight: 600;
}
.review {
	width: 100%;
	height: 500px;
}
.review__title {
	margin-bottom: 90px;
}
.review__photo {
	display: flex;
	justify-content: center;
	margin-bottom: 35px;
}
.review__text {
	text-align: center;
	margin-bottom: 60px;
}
.review__client {
	text-align: center;
	margin-bottom: 50px;
}
.review__client span {
	font-weight: bold;
}
.clients-row{
	width: 100%;
	display: flex;
	justify-content: center;
}
.row__container{
	width: 85px;
	display: flex;
	justify-content: space-between;	
}
.contacts {
	width: 100%;
	height: 790px;
	background: url(../img/contBG.jpg) top center/cover no-repeat;
}
.contacts__container {
	max-width: 733px;
	margin: 0 auto;
	padding: 70px 10px 0px 0px;
}
.contacts__title {
	margin-bottom: 73px;
	color: #FFF;
}
.contacts__text {
	margin-bottom: 48px;
	color: #FFF;
}
.contacts__row {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.contacts__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contacts__item a{
	color: #FFF;
}
.contacts__image {
	margin-bottom: 4px;
}
.contacts__subtitle {
	text-align: center;
	color: #FFF;
	font-size: 23px;
	font-weight: bold;
	margin-bottom: 45px;
}
.form__row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 14px;
}
.form__row input{
	width: 45%;
	height: 34px;
	background-color: #d2d6dc;
	padding: 5px;
}
.form__row textarea{
	background-color: #d2d6dc;
	width: 100%;
	height: 94px;
	padding: 5px;
}
.contacts__btn {
	color: #FFF;
	border: 2px solid #FFF;
	border-radius: 5px;
	padding: 19px 18px 12px 18px;
	font-size: 18px;
	background: none;
	margin-top: 10px;
}
.btn-form__row{
	display: flex;
	justify-content: center;
	margin-bottom: 65px;
}
.contacts__footer {
	display: flex;
	justify-content: space-between;
}
.contacts-footer__row{
	min-width: 420px;
	display: flex;
	justify-content: space-between;
}
.map {
	display: flex;;
	width: 100%;
	height: 350px;
	position: relative;
	background: url(../img/mapBG.jpg) center/cover no-repeat;
	align-items: center;
	justify-content: center;
}
.map__btn{
	background-color: #fff;
	height: 50px;
	padding: 0 15px;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
}
.footer__row{
	height: 90px;
	background-color: #354051;
	display: flex;
	justify-content: center;
	align-items: center;
}
.footer__text{
	color: #FFF;
}
.menu__btn{
	display: none;
	width: 40px;
	height: 30px;
	padding: 0;
	position: relative;
	z-index: 20;
}
.menu__btn span{
	display: block;
	position: relative;
	background-color: #fff;
	height: 2px;
}
.menu__btn span::before ,
.menu__btn span::after{
	content: '';
	width: 40px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
}
.menu__btn span::before{
	top: 10px;
}
.menu__btn span::after{
	top: -10px;
}
@media (max-width: 1140px){
	.container, {
		max-width: 970px;
	}
	.contacts__container{
		max-width: 733px;
		margin: 0 auto;
	}
	.main{
		background: url(../img/Парень.png) 85% 100%/60% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
	}
}
@media(max-width: 1060px){
	.main{
		background: url(../img/Парень.png) 85% 100%/60% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
		position: relative;
	}
	.main::after{
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba(0,0,0,0.4);
	}
	.info , .info button, .info h1, .info__text{
		color: #fff;
		z-index: 2;
	}
}
@media (max-width: 1025px){
	.main{
		background: url(../img/Парень.png) 85% 100%/65% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
	}
	.info{
		margin: auto auto;
		max-width: auto	;
	}
	.info__name{
		font-size: 60px;
	}
	.info__text{
		font-size: 20px;
	}
	.info__btn{
		width: 120px;
		font-size: 18px;
	}
	.menu__list{
		font-size: 18px;
	}
}
@media (max-width: 992px){
	.container{
		max-width: 750px;
	}
	.menu__list{
		display: none;
	}
	.menu__btn{
		display: block;
	}
	.main{
		background: url(../img/Парень.png) 85% 100%/70% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
	}
	.info{
		margin: 0 auto;
	}
	.menu__list{
		transform: translateY(-150%);
		transition: all .5s;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: #000;
		padding-top: 90px;
		padding-bottom: 30px;
		text-align: center;
		width: 100%;
	}
	.menu__list.active{
		transform: translateY(0);
		z-index: 10;
	}
	.ICan__title {
    	margin-top: 50px;
    	margin-bottom: 100px;
	}
	.ICan__item {
		width: 50%;
		align-items: center;
		padding-bottom: 30px;
	}
	.ICan{
		height: auto;
		padding-top: 5px;
	}
	.ICan__image{
		margin-bottom: 20px;
	}
	.ICan__subtitle{
		margin-bottom: 15px;
	}
	.case__row{
		margin-bottom: 30px;
	}
	.statistics__row{
		flex-wrap: wrap;
	}
	.statistics__item{
		width: 50%;
		padding-bottom: 30px;
	}
	.statistics{
		height: auto;
	}
}
@media (max-width: 767px){
	.container{
		max-width: none;
	}
	.info__name{
		font-size: 60px;
	}
	.info__text{
		font-size: 20px;
	}
	.info__btn{
		width: 140px;
   		font-size: 18px;
	}
	.ICan__row{
		margin-bottom: 20px;
	}
	.case__title {
		margin-top: 45px;
	}
	.calcCostRow{
		text-align: center;
	}
	.statistics__title {
		margin-bottom: 95px;
	}
}
@media (max-width: 590px){
	.main{
		background: url(../img/Парень.png) 85% 100%/100% no-repeat , url(../img/main_bg.jpg) center/cover no-repeat;
		margin-bottom: 30px;
	}
	.about_img {
    	width: 170px;
    	height: 170px;
	}
	.about__title {
    	margin-bottom: 64px;
	}
	.ICan__image{

	}
	.title::after{
		bottom: -20px;
	}
	.title{
		font-size: 25px; 
	}
	.case__title {
		margin-bottom: 60px;
	}
	.case__row{
		flex-direction: column;
		max-height: 280px;
	}
	.case__main{
		align-items: center;
		width: 100%;
	}
	.case__info{
		text-align: center;
		order: -1;
		margin-bottom: 20px;
		margin-top: 15px;
	}
	.case__text{
		font-size: 16px;
		text-align: center;
	}
	.case__row{
		margin-bottom: 100px;
	}
}
@media (max-width: 523px){
	.ICan__row{
		display: block;
	}
	.ICan__item{
		margin: 0 auto;
	}
	.ICan__title{
		font-size: 24px;
		margin-bottom: 65px;
	}
	.ICan__item{
		border-bottom: 1px solid #000;
		width: 100%;
		margin-top: 10px;
	}
	.ICan__item:last-child{
		border-bottom: none;
	}
	.case__row{
		margin-bottom: 150px;
	}
	.statistics__subtitle {
		margin-bottom: 23px;
		font-size: 26px;
	}
	.statistics__row{
		flex-direction: column;
		align-items: center;
	}
	.statistics__item{
		width: 100%;
		border-bottom: 1px solid #000;
		margin-top: 10px;
	}
	.statistics__item:last-child{
		border-bottom: none;
	}
	.review__title {
		margin-bottom: 55px;
	}
	.statistics {
		margin-bottom: 55px;
	}
	.contacts__row{
		display: block;
	}
	.contacts{
		height: auto;
	}
	.contacts-footer__row{
		flex-wrap: wrap;
	}
	.contacts__link{
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}
	.form__row{
		flex-direction: column;
		margin-bottom: 0;
	}
	.form__row input{
		width: 100%;
		margin-bottom: 15px;
	}
}
@media (max-width: 441px){
	.info__name{
		font-size: 48px;
	}
	.info__text{
		font-size: 18px;
	}
	.info__btn{
		width: 120px;
		font-size: 16px;
	}
	.about_img {
    	width: 150px;
    	height: 150px;
	}
	.about__text{
		margin-bottom: 30px;
		font-size: 16px;
	}
	.title{
		font-size: 23px;
		margin-bottom: 55px;
	}
	.contacts__footer{
		flex-wrap: wrap;
	}
	.contacts__link{
		width: 33.333%;
		margin-bottom: 25px;
	}
	.footer__text{
		font-size: 16px;
	}
}
@media (max-width: 350px){
	.case__row{
		margin-bottom: 200px;
	}
	.calcCost__label {
    	font-size: 18px;
    	margin-bottom: 17px;
    	margin-top: 32px;
	}
	.calcCostSelect select{
		height: 45px;
	}
}
@media (max-width: 333px){
	.header__logo{
		font-size: 20px;
	}
	.info__name{
		font-size: 38px;
	}
	.info__btn{
		width: 110px;
		font-size: 16px;
	}
	.about_img {
    	width: 135px;
    	height: 135px;
	}
	.footer__text{
		font-size: 12px;
	}
}